body {
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #E55473;;

}



/* 1st page */
.banner {

    padding: 30px 20px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(229, 84, 115, 0.10);



}

.img {
    width: 635px;
    height: 800px;
    flex-shrink: 0;
}

.primary-button {

    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    color: #FFF;
    font-size: 20px;

}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;


}


.para {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* 2nd page */
.featured-flowers{
    margin:100px 150px 100px 150px ;
}
.featured-title {
    text-align: center;
    margin-top: 100px;
    font-family: Lato;
    font-size: 40px;

}

.para-s {
    text-align: center;

}


.flowerimg-container {

    display: flex;
    justify-content: space-around;
    align-items: last baseline;

}



.img-1 {
    width: 200px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    height: 250px;
}

.img-2 {
    width: 200px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    height: 300px;
}

.img-3 {
    width: 200px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    height: 250px;
}
.flower-name{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}
.hot-deal{
    display: flex;
    justify-content:space-around;
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
    
}
.featured-title{
    padding-top: 10px;
}
.rose{
    padding-top: 20px;
    padding-bottom: 20px;
}
.inspara{
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
}
.ins-pic{
    display: flex;
    justify-content: space-around;
}
.insta{
    margin-left: 80px;
    margin-right: 80px;
}
/* get the latest deal */
.get{
    background-image: url(./Rectangle\ 9.png);
    text-align: center;
    margin: 90px;

}
#in{

    width: 500px;
    border-radius: 10px;
    border: 0px;
    padding: 20px;
    margin: 50px;
}
.last{
    color: white;
  
    text-align: center;
    background: #111010;
    padding: 50px 20px 50px 0px ;
   
}
.copy{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}
   .emo{
    display: flex;
    justify-content: space-around;
    background: rgba(39, 39, 39, 0.05);
    margin: 100px; 
   }
   .logo{
    height: 30px;

   }